<%#coding: utf-8 %>
<div class="pgTitle">
    <h2 class="f_l">分类一览</h2>
    <hr class="cb" />
</div>
<p>请输入检索条件</p>
<div class="searchBox">
    <%= form_tag admin_auths_path, :method =>:get do %>
      <table>
        <tr>
          <th>邀请码：</th>
          <td><%= text_field_tag "code", params[:code], :class => "attr_value" %></td>
          <th>状态：</th>
          <td><%= select_tag "usable",options_for_select([['','']] + Auth::USABLE,(params[:usable] rescue nil)) %></td>
        </tr>
      </table>
      <p><%= submit_tag "检索" %></p>
      <% end %>
</div>
 <%#end %>
<div class="commonBox">
    <h3 class="serch_b"> 检索结果： <span class="current"><%= @auths.total_entries %></span> 件 </h3>
    <div class="pagination pageTop"><span class="disabled prev_page"><%= will_paginate @auths, :params => params, :previous_label => '上一页', :next_label => '下一页' %></span></div>
      <table class="list">
        <tr>
          <th width="10%">ID</th>
          <th width="30%">邀请码</th>
          <th width="15%">状态</th>
          <th width="15%">创建时间</th>
          <th class="action" width="15%">操作</th>
        </tr>
        <% if @auths.present? %>
            <% @auths.each do |auth| %>
                <tr>
                  <td align="center"><%= auth.id %></td>
                  <td><%= auth.code %></td>
                  <td><%= auth.usable_label %></td>
                  <td><%= date_time_format_l(auth.created_at)%></td>
                  <td class="action">
                    <%#=  link_to_function "删除", "if(confirm('确定要删除此数据吗？')){window.location='#{admin_auth_path(auth)}'}" %>
                    <%#= button_to_function "删除", "if(confirm('确定要删除此数据吗？')){window.location='#{admin_auth_path(auth)}'}", :method=>:delete, :class=>:destroy %>
                    <%= link_to '删除', admin_auth_path(auth), :confirm => "确定要删除此数据吗？", :method => :delete%>
                  </td>
                  <% end %>
                </tr>
        <% else %>
            <tr><td align="center" colspan="5">没有数据</td></tr>
        <% end %>
      </table>
      <h3 class="serch_b"> 检索结果： <span class="current"><%= @auths.total_entries %></span> 件 </h3>
      <div class="pagination pageTop"><span class="disabled prev_page"><%= will_paginate @auths, :params => params, :previous_label => '上一页', :next_label => '下一页' %></span></div>
    <hr class="cb"/>
</div>
