<td align="center"><%= brand.id %></td>
<td align="center"><%= text_field_tag "brand_name_#{brand.id}", brand.name %></td>
<td align="center"><%= brand.updated_at.try(:strftime, "%Y-%m-%d %H:%M:%S")%></td>
<td align="center">
  <div class="completeBtn newBtn">
    <input type="button" value="保存" onclick="edit(<%= brand.id %>)" style="width: 50px;">
    <input type="button" value="取消" onclick="cancel_edit(<%= brand.id %>)" style="width: 50px;">
  </div>
</td>
