<div align="center" style="height: 100px;">
</div>
<div align="center">
    <%= error_messages_for :brand %>

    <%= form_tag "#{admin_brands_path}"  do %>
      添加品牌:<%= text_field_tag "name_1", params[:name_1] %>
        <%= submit_tag "保存" %>
    <% end %>
</div>
<br>
<br>
<div align="center">
  <%= form_tag "/admin/brands/add" do %>
      ID：<%= text_field_tag "id", params[:id] %>
      名称：<%= text_field_tag "name_2", params[:name_2] %>
      <%= submit_tag "查询" %>
  <% end %>
  <br>
  <br>
  <table width="60%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="result">  检索结果:<%= @brands.total_entries %>件。
      </td>
      <td class="page">
        <div class="pagination pageTop">
          <%= will_paginate @brands, :params => params.merge(:action => :add), :previous_label => '上一页', :next_label => '下一页'%>
        </div>
      </td>
    </tr>
  </table>
  <table width="60%" border="1">
    <tr>
      <th width="20%">ID</th>
      <th width="30%">名称</th>
      <th width="30%">添加时间</th>
      <th width="20%">操作</th>
    </tr>
    <% if @brands.present? %>
        <% @brands.each do |brand| %>
            <tr id="brand_<%= brand.id%>">
                <%= render :partial => 'detail', :locals => {:brand => brand} %>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="4" align="center">暂无数据</td>
        </tr>
    <% end %>
  </table>
  <table width="60%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="result">  检索结果:<%= @brands.total_entries %>件。
      </td>
      <td class="page">
        <div class="pagination pageTop">
          <%= will_paginate @brands, :params => params.merge(:action => :add), :previous_label => '上一页', :next_label => '下一页'%>
        </div>
      </td>
    </tr>
  </table>
</div>
